.ingredient-form {
  flex: 1 85;

  h3 {
    margin: 1em;
  }

  .ingredient-form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .line {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    color: #4a4a4a;
    margin: 0.15em;
    padding: 1em;

    & > input {
      background-color: transparent;
      border-bottom: 1px solid #4a4a4a;
      padding: 0 0.5em;;
      color: #4a4a4a;
      margin: 0.15em;
      width: 80%;
      font-size: 1rem;
      &:focus {
        outline: none;
      }
    }

    & > select,
    option {
      border-radius: 0;
      background-color: transparent;
      border: none;
      border: 1px solid #4a4a4a;
      width: 60%;
      text-indent: 0em;
      text-size-adjust: 1rem;
      color: #4a4a4a;
      margin: 0 1.9em;
      padding: 0;
      & > option {
        margin: 2em;
      }
    }

    & > button {
      border: 1px solid #b03951;
      color: #ffffff;
      border-radius: 4px;
      background: #cd435f 0% 0% no-repeat padding-box;
      margin: 0.5em;
    }
    & > .disabled {
      border: 1px solid grey;
      background: grey 0% 0% no-repeat padding-box;
    }
    & > i {
      font-size: 0.8em;
      color: #b03951;
    }
    & > label {
      font-weight: bold;
      text-align: center;
    }

    & > li {
      width: 50%;
    }
  }

  .ingredient-form-button-new {
    border: 1px solid #b03951;
    color: #ffffff;
    border-radius: 4px;
    margin: 4em;
    position: fixed;
    bottom: 0;
    right: 0;
    background: #cd435f 0% 0% no-repeat padding-box;
  }

  img {
    width: 10%;
  }
}
