* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

.page-wrapper {
    height: 100vh;
    overflow-y: auto;
}

input, button {
    border: none;
    padding: 1em 2em;
    background: none;
}

input {
    background-color: #fff;
}

small, big {
    display: block;
}

hr {
    margin: 0 1rem ;
    border: 0;
    height: 1px;
    background: rgba(0, 0, 0, 0.15);
}

.primary {
    color: #CD435F;
}

button {
    &.primary, &.secondary {
        width: 100%;
        border-radius: 3px;
        font-size: 1rem;
    }

    &.primary {
        color: #fff;
        background-color: #CD435F;
    }

    &.secondary {
        color: #CD435F;
        border: 1px solid #CD435F;
        
        &:disabled {
            background-color: transparent;
            color: #BAB4B6;
            border: 1px solid #BAB4B6;
        }
    }

    &:focus {
        outline: none;
    }

    &:disabled {
        background-color: #BAB4B6;
    }
}

a {
    text-decoration: none;
}

.columns {
    display: flex;
    flex-direction: row;
    align-items: center;

    &.space-around {
        justify-content: space-around;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.space-button > * {
        &:first-child { flex: 1 85%; }
        &:last-child { flex: 1 15%; }
    }

    &.space-button-reverse > * {
        &:first-child { flex: 1 15%; }
        &:last-child { flex: 1 85%; }
    }
}

.decorations {
    &:before, &:after {
        content: '';
        position: absolute;
        margin: 2em;
        width: 10em;
        height: 8em;

        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    &:before {
        top: 0;
        left: 0;
        background-image: url('/assets/icons/decoration-steak.svg');
    }

    &:after {
        bottom: 0;
        right: 0;
        background-image: url('/assets/icons/decoration-brochette.svg');
    }
}

.mirror {
    transform: rotate(180deg);
}

.brighten {
    filter: brightness(400%);
}
